* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  background-color: #3e3c3c;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .navbar-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar .navbar-menu .nav-menu-item {
  padding: 0.7rem;
}

.navbar .navbar-menu .nav-menu-item .nav-menu-link {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  background-color: #1c1a19;
}

.about .social-media-links {
  list-style: none;
  padding-left: 2.5rem;
}

.about .social-media-links a {
  color: white;
}

.about .social-media-links a .fab {
  font-size: 2.8rem;
  padding: 0.5rem;
}

.about .about-me {
  width: 40%;
}

.about .about-me h2 {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-size: 4rem;
  font-weight: 400;
}

.about .about-me p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about .about-me .about-button {
  background-color: #f55800;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem;
  text-decoration: none;
}

.about .about-me .about-button:hover {
  background-color: #1c1a19;
  border: 2px solid #f55800;
}

@media screen and (max-width: 1024px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
    width: 100%;
  }
  .about .social-media-links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 8rem;
    padding-left: 0;
  }
  .about .side-svg {
    display: none;
  }
  .about .about-me {
    width: 80%;
  }
}

.portfolio h2 {
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.portfolio .projects-container {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2.5rem;
}

.portfolio .projects-container .proj {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 10rem;
}

.portfolio .projects-container .proj .proj-title,
.portfolio .projects-container .proj .proj-details {
  color: white;
  margin: 10px;
}

.portfolio .projects-container .proj .proj-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.portfolio .projects-container .proj .proj-details {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.portfolio .projects-container .proj .proj-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.portfolio .projects-container .proj .proj-tags span {
  background: rgba(255, 255, 255, 0.24);
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.portfolio .projects-container .proj .proj-tags .lang-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio .projects-container .proj .proj-tags .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio .projects-container .proj .proj-tags .links .btn-link {
  background-color: #f55800;
  border-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.portfolio .projects-container .proj .proj-tags .links .btn-link:hover {
  background: none;
  border: 2px solid #f55800;
}

.portfolio .projects-container .proj .proj-tags .links a {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.portfolio .projects-container .project-1 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/ss1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio .projects-container .project-2 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/RED.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio .projects-container .project-3 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/tic-tac-toe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio .projects-container .project-4 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/get-top-anime.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio .projects-container .project-5 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(../images/screenshot-micro-reddit.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 360px) {
  .portfolio .portfolio-head {
    padding-left: 1rem;
  }
  .portfolio .projects-container {
    padding: 1rem;
    padding-left: 10px;
  }
}

.skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  background-color: #1c1a19;
  padding: 2rem;
}

.skills .sheader-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.skills .sheader-container svg {
  margin-right: 0.5rem;
}

.skills h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.skills ul {
  height: 30vh;
  list-style: none;
}

.skills ul li {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .skills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4rem;
  }
}

.contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding-bottom: 1rem;
}

.contact .contact-text {
  color: #262626;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: bold;
  width: 30%;
}

.contact form {
  font-family: 'Inter', sans-serif;
  width: 50%;
}

.contact form input[type=text],
.contact form [type=email],
.contact form textarea {
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  font-size: 15px;
  margin: 15px 0;
  padding: 20px;
  width: 100%;
}

.contact form textarea {
  background-color: #fbf8f7;
  padding-bottom: 10rem;
}

.contact form button {
  background-color: #f55800;
  border: 0;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contact-text {
    margin-top: 2rem;
    width: 80%;
  }
  .contact form {
    width: 80%;
  }
}

.foot-bar ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.01px solid #dfe1e6;
  list-style: none;
}

.foot-bar ul li {
  margin-top: 0.5rem;
}

.foot-bar ul li i {
  color: #505f79;
  font-size: 1.5rem;
  padding: 0.8rem;
}
/*# sourceMappingURL=stylesheet.css.map */